.container {
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
}

.link {
  margin-right: var(--size-gutter);
}

.avatar {
  height: 100px;
  width: 100px;
  margin-bottom: var(--size-gutter);
}

.button {
  padding: 0.75rem;
  color: white;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
